<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<title>Add Boarding</title>

</head>
<body>
	<div th:include="layout/header"></div>
	<div id="msg"></div>
	<div class="container">

		<div class="row">
			<div class="col-md-2">

				<div class="portlet-title">
					<div class="page-header">
						<h4>Add Boarding</h4>
					</div>
				</div>
				<div class="portlet-body">
					<form id="addBoardingFrm" class="form-horizontal" role="form"
						method="GET" action="../boardings/save">
					
						
						<div class="form-group">
							<label for="routeNo">RouteName:</label>
							<select name="routeNo">
							<option th:each="r,iter  : ${ROUTES_LIST}" th:value="${r.id}" th:text="${r.id} +'-' + ${r.name}"></option>
								
							</select>
						</div>

						<div class="form-group">
							<label for="boardingName">Boarding Name:</label><input
								type="text" class="form-control" name="name" required="required"
								autofocus="autofocus" id="name" />
						</div>

						<div class="form-group">
							<label for="pickUpTime">PickUp Time:</label><input type="time"
								class="form-control" name="pickUpTime" required="required"
								autofocus="autofocus" id="pickUpTime" />
						</div>

						<div class="form-group">
							<button type="submit" class="btn btn-success" id="addrouteNoBtn">Submit</button>
						</div>

					</form>

				</div>

			</div>

		</div>
	</div>


</body>

</html>