
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<title>List of Route Stats</title>
</head>
<body>
<div th:include="layout/header"></div>
	<div class="container">
		<div class="row">
			<div class="col-md-14">
				<div class="portlet-title">
					<div class="page-header">
						<h3>List of Route Stats</h3>
					</div>
				</div>
				<div class="portlet-body">
					<div class="table-responsive">
						<table class="table table-bordered">

							<thead>
								<tr>
									<th>S.NO</th>
									<th>ROUTE NAME</th>	
									<th>STARTING TIME</th>
									<th>FINISHING TIME</th>
									<th>TOTAL BOARDING POINT</th>	
																
									
								</tr>
							</thead>
							<tbody>

									
								<tr th:each="routeStats,iter  : ${ROUTE_STATS_LIST}">
								<td th:text="${iter.index+1}"></td>
								<td th:text="${routeStats.routeNo} + '-'+ ${routeStats.routeName}"></td>
									<td th:text="${routeStats.startTime}"></td>
									<td th:text="${routeStats.finishTime}"></td>
									<td th:text="${routeStats.noOfBoardingPoints}"></td>
								
								</tr>

							</tbody>
						</table>

					</div>
				</div>
			
			</div>

		</div>
	</div>


</body>
</html>