
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<title>List of Route Boardings</title>
</head>
<body>
<div th:include="layout/header"></div>
	<div class="container">
		<div class="row">
			<div class="col-md-14">
				<div class="portlet-title">
					<div class="page-header">
						<h3>List of Route Boardings</h3>
					</div>
				</div>
				<div class="portlet-body">
					<div class="table-responsive">
						<table class="table table-bordered">

							<thead>
								<tr>
									<th>S.NO</th>
									<th>ROUTE NAME</th>	
									<th>NAME</th>
									<th>PICKUP TIME</th>	
																
									
								</tr>
							</thead>
							<tbody>

									
								<tr th:each="boarding,iter  : ${ROUTE_LIST}">
								<td th:text="${iter.index+1}"></td>
								<td th:text="${boarding.route.name}"></td>
									<td th:text="${boarding.name}"></td>
									<td th:text="${boarding.pickUpTime}"></td>
									
									<td><a class='btn btn-success'  href=""
										th:href="@{/boardings/edit(id=${boarding.id})}"><span
											class='icon-pencil'></span>Edit</a></td>
									<td><a class='btn btn-danger'  href=""
										th:href="@{/boardings/delete(id=${boarding.id})}"><span
											class='icon-pencil'></span>Delete</a></td>

								</tr>

							</tbody>
						</table>

					</div>
				</div>
			
			</div>

		</div>
	</div>


</body>
</html>