<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<title>Update Boardings</title>

</head>
<body>
	<div th:include="layout/header"></div>
	<div id="msg"></div>
	<div class="container">

		<div class="row">
			<div class="col-md-2">

				<div class="portlet-title">
					<div class="page-header">
						<h4>Update Boardings</h4>
					</div>
				</div>
				<div class="portlet-body" th:with="userboarding=${EDIT_BOARDING}">
					<form id="updateBoardingFrm" class="form-horizontal" role="form"
						method="GET" action="../userboardings/update">
						<div class="form-group">
							<input type="hidden" class="form-control"
								th:value="${userboarding.id}" name="id" required="required"
								readonly="readonly" id="id" />
						</div>
						<div class="form-group">
							<label for="userName">UserName:</label><input type="text"
								class="form-control" th:value="${userboarding.user.id}"
								th:text="${userboarding.user.name}" name="userId"
								required="required" autofocus="autofocus" id="userId" />
						</div>
						<div class="form-group">
							<label for="boardingName">BoardingName:</label><input type="text"
								class="form-control" th:value="${userboarding.boardingDetail.name}"
								name="boardingId" required="required" autofocus="autofocus"
								id="boardingId" />

						</div>
						<div class="form-group">
							<label for="routeNo">RouteName:</label><select name="routeNo"
								class="form-control">
								<option th:value="${userboarding.route.id}"
									th:text="${userboarding.route.name}"></option>
							</select>
						</div>
						<div class="form-group">
							<label for="pickUpTime">pickUpTime:</label><input type="time"
								class="form-control" th:value="${userboarding.boardingDetail.pickUpTime}"
								name="pickUpTime" required="required" autofocus="autofocus"
								id="pickUpTime" />
						</div>

						<div class="form-group">
							<button type="submit" class="btn btn-success" id="updateRouteBtn">Submit</button>
						</div>

					</form>

				</div>

			</div>

		</div>
	</div>


</body>

</html>