
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1" />
<title>List of User Boardings</title>
</head>
<body>
<div th:include="layout/header"></div>
	<div class="container">
		<div class="row">
			<div class="col-md-14">
				<div class="portlet-title">
					<div class="page-header">
						<h3>My Boarding Point</h3>
					</div>
				</div>
				<div class="portlet-body" th:with="userboarding=${USER_BOARDING_DETAIL}">
					<div class="table-responsive">
						<table class="table table-bordered">

							<thead>
								<tr>
									<th>USER NAME</th>									
									<th>ROUTE NAME</th>
									<th>BOARDING NAME</th>	
									<th>PICKUP TIME</th>						
									
								</tr>
							</thead>
							<tbody>

									
								<tr>
									<td th:text="${userboarding.user.name}"></td>
									<td th:text="${userboarding.boardingDetail.route.id} +'-' + ${userboarding.boardingDetail.route.name}"></td>
									<td th:text="${userboarding.boardingDetail.name}"></td>
									
									<td th:text="${userboarding.boardingDetail.pickUpTime}"></td>
									
									<td><a class='btn btn-success'  href=""
										th:href="@{/userboardings/edit(id=${userboarding.id})}"><span
											class='icon-pencil'></span>Edit</a></td>
									<td><a class='btn btn-danger'  href=""
										th:href="@{/userboardings/delete(id=${userboarding.id})}"><span
											class='icon-pencil'></span>Delete</a></td>

								</tr>

							</tbody>
						</table>

					</div>
				</div>
				
			</div>

		</div>
	</div>


</body>
</html>